@model SchoolManagmentSystem.Models.Student

<div class="d-flex justify-content-center">
    <form asp-action="AddStudent" method="post" role="form" class="w-50">
        <h3 class="my-5 text-center">
            Add a new student to the system
        </h3>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row g-2">

            <div class="col-12">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="FatherName" class="form-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="CNIC" class="form-label"></label>
                <input asp-for="CNIC" class="form-control" />
                <span asp-validation-for="CNIC" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="Gender" class="form-label"></label>
                <select asp-for="Gender" class="form-select">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="col-12">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-3">
            <input type="submit" class="btn btn-success" value="Save Student" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
